.main-content {
    width: 100%;
    height: 100%;
}
.main-content .header .title {
    color: white;
    font-family: "PT Sans";
    font-size: 4em;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 150px;
}

.parallax-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 800;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px 0px 40px black;
  }
  
.parallax-item h2 {
    font-size: 3rem;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
  }

.palx2-para{
    color: rgb(27, 23, 23);
    width: 40%;
    font-size: 1.5em;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    margin-left: 50%;
} 
  
.parallax-item:first-child {
    position: relative; /* Ensure proper layering */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.946), rgba(0, 0, 0, 0.2)), url("https://photos.smugmug.com/Archive/2022-2023-1/High-School/Robotics-Tech-Challenge-Competition/n-5Spx5q/i-CnJG3fq/0/ca983c74/X4/i-CnJG3fq-X4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Ensure the image covers the entire area */
    min-height: 100vh;
}
 
.parallax-item:nth-child(2) {
    background: url("https://lh3.googleusercontent.com/drive-viewer/AEYmBYROO27qN-yH0UZnNj-jVfNap_NKontGwYhAfQQ3y4lttn05wmRKoSZA3IXR9vhVY93cgNtvddQO16ZKNqTJ87U5fF3ZQQ=s1600");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 600px;
}
  
.parallax-item:nth-child(3) {
    background: url("https://lh3.googleusercontent.com/drive-viewer/AEYmBYSVBJCnhKLyP9E0ZSNCyce20RxTUGVZgA6f47v1pCYqJDnmgBEr_fX7TBhapq3G_z6X52ahyNzNrqCbePmJslqG1nLH=s1600");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 600px;
}
  
.parallax-item:nth-child(4) {
    background: url("https://lh3.googleusercontent.com/drive-viewer/AEYmBYSseU0pAumbpZxJiFX7qvgwNCPXnbwmqJdSKBswc-cVU36QX0c8Uw1GDGBJ5NEwDaypr97_tntoTIfedEaYi__xHtUKdA=s1600");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 600px;
}
  
@media screen and (max-width: 768px) {
    .parallax-item h2 {
      font-size: 1.5rem;
    }
}
