* {
    font-family: "Lato";
    overflow-x: hidden;
}

body {
    background: rgb(14, 17, 17);
}

h1 {
    font-size: 40px;
    background: linear-gradient(to right, #f32121, rgb(126, 14, 14), #f32121);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.about-centerstage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.powerplay-image {
    background-color: rgb(14, 17, 17);
    height: 90vh;
    width: 75vh;
    border: 5px solid #862a2a;
    border-radius: 20px;
}

.first-paragraph {
    color: white;
    width: 35vw;
    height: 48vh;
    font-size: 25px;
    margin: 0;
}

.robot-parts {
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row space-evenly;
    justify-content: center;
}

.robot-part {
    flex: 0 0 calc(27%);
    margin: 5px;
    color: white;
    background-color: rgba(37, 41, 41, 0.4); 
    text-align: center;
    padding: 20px 20px 300px 20px;
    border-radius: 10px;
    border:solid rgba(255, 255, 255, 0.4) 2px;
    transition: ease 0.3s;
}

.part-title {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    padding: 10px 0px 0px 0px ;
    margin: 0;
}

.robot-part:hover{
    background:rgba(255, 255, 255, 0.1);
    transform:scale(1.01);
}

@media (max-width: 1200px) {
    .about-centerstage {
        flex-direction: column;
        height: auto;
    }
  
    .about-centerstage img {
        max-width: 80vw;
        max-height: 90vw;
        margin: 1px;
    }

    .title-first-paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-paragraph{
        width: 80%;
        height: 48%;
        overflow:visible;
        padding: 0px 0px 1vw 0px;
    }
    .robot-part{
        min-width: 40%;
    }
}

@media (max-width: 700px) {
    .about-centerstage {
        flex-direction: column;
        height: auto;
    }
  
    .about-centerstage img {
        max-width: 80vw;
        max-height: 100vw;
        margin: 1px;
    }

    .title-first-paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-paragraph{
        width: 80%;
        height: 48%;
        overflow:visible;
        padding: 0px 0px 1vw 0px;
    }

    .robot-part{
        min-width: 80%;
    }
    
}
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 50px;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.572);*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    gap: 30px;
  }      
  .topnav a {
    background: transparent;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
  }
  .topnav .nav-words {
    font-family: "Lato";
    display: block;
  }
  .topnav .nav-icons {
    display: none;
  }
  .topnav a:hover {
    /*box-shadow: 0px 0px 10px whitesmoke;*/
    transform: scale(1.1);
  }
  .topnav a:active {
    transform: scale(1);
  }

  @media screen and (max-width: 800px) {
    .topnav .nav-words {
        display: none;
    }
    .topnav .nav-icons {
        display: block;
    }
}

.container{
    position: relative;
    top:50px;
}
