*{
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      }
      body {
        margin:0;
        overflow-x: hidden;
      }
      
      .topnav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        height: 50px;
        overflow: hidden;
        padding-left: 20px;
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.572);*/
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        gap: 30px;
      }
      
      .topnav a {
        background: transparent;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        transition: 0.3s;
      }
      
      .topnav a:hover {
        box-shadow: 0px 0px 10px whitesmoke;
      }
      
      .topnav a.icon {
        display: none;
        opacity: 0;
      }
      
      @media screen and (max-width: 600px) {
        .topnav {
            justify-content: right;
        }
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon {
          align-self: flex-start;
          display: block;
          opacity: 1;
          margin-top: 1px;
        }
        .topnav .about {
            margin-right: 5%;
        }
        .topnav.responsive {
            position: relative;
            justify-content: center;
        }
        .topnav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .topnav.responsive a {
          display: block;
          text-align: left;
        }
      }
      body{
        background: #000212;
        /*#3d4161 #000212*/
        color: whitesmoke;
      }
      
    #main-content {
        background: black;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        flex-flow: column wrap;
        min-height: 100vh; /* Make sure it takes at least the height of the viewport */
        height: auto; /* Adjust height as needed */
        top: 50px; /* Adjust based on your fixed header */
        z-index: 19;
    }
    
#main-content::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100vw;
    height: 80vw;
    border-radius: 50%; 
    background-image: radial-gradient(rgb(84, 59, 59),rgba(84, 59, 59, 0));
    box-shadow: 0px 0px 100px rgba(84, 59, 59, 0.65);
}
.title {
    margin: 0 auto;
    position: relative;
    width: 50%;
    border-radius: 15px;
    transform: translate(0, -30%);
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 0px 10px black;
    font-size: calc(30px + 3.5vw);
    font-family: "Figtree";
}
.short-desc {
    color: white;
    text-align: center;
    font-family: "Quicksand";
    font-size: calc(12px + 0.5vw);
    padding-bottom: 50px;
}
.learn-more {
    background: maroon;
    font-family: "PT Sans";
}

::-webkit-scrollbar {
    background: lightgray;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(162, 45, 45);
    width: 6px;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 41, 41);
}
::-webkit-scrollbar-thumb:active {
    background: rgb(130, 36, 36);
}

